<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgj-run-00.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1252,79},{56,69}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{56,69}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-01.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{46,75}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{46,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-02.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{48,73}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{48,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-03.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{46,73}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{46,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-04.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1934,2},{38,73}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{38,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-05.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{46,75}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{46,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-06.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{62,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{62,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-07.tga</key>
            <dict>
                <key>frame</key>
                <string>{{950,81},{54,75}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{794,83},{50,75}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{50,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1763,77},{50,71}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{50,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{490,83},{52,75}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{52,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1909,77},{48,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{48,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{644,83},{52,73}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{52,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1974,2},{44,69}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{44,69}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1982,48},{44,71}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{44,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-17.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1323,79},{54,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{54,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-20.tga</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{60,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-21.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1027,81},{54,75}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-22.tga</key>
            <dict>
                <key>frame</key>
                <string>{{251,87},{48,77}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{48,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-23.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{54,75}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-24.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{64,73}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{64,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-25.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1473,77},{54,71}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-26.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{40,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{40,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-27.tga</key>
            <dict>
                <key>frame</key>
                <string>{{719,83},{52,73}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{52,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{56,79}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{56,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-31.tga</key>
            <dict>
                <key>frame</key>
                <string>{{871,81},{54,77}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{54,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-32.tga</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{50,83}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{50,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-33.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,83}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-34.tga</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{56,77}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{56,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-35.tga</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{60,77}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{60,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-36.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{56,77}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{56,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-37.tga</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{54,79}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{54,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-40.tga</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{56,79}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{56,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-41.tga</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{46,79}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{46,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-42.tga</key>
            <dict>
                <key>frame</key>
                <string>{{87,87},{48,81}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{48,81}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-43.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{48,83}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{48,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-44.tga</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{38,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{38,81}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-45.tga</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{46,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{46,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-46.tga</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{62,81}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{62,81}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-47.tga</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{54,83}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{50,75}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{50,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-51.tga</key>
            <dict>
                <key>frame</key>
                <string>{{330,85},{50,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{50,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-52.tga</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{54,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{54,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-53.tga</key>
            <dict>
                <key>frame</key>
                <string>{{170,87},{48,79}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,1},{48,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-54.tga</key>
            <dict>
                <key>frame</key>
                <string>{{409,83},{52,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{52,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-55.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{44,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{44,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-56.tga</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{44,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{44,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-57.tga</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{54,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{54,83}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-60.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{60,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{60,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-61.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1546,77},{54,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-62.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{48,73}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{48,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-63.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{54,75}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-64.tga</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{64,77}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{64,77}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-65.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{54,75}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{54,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-66.tga</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{40,79}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{40,79}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-67.tga</key>
            <dict>
                <key>frame</key>
                <string>{{567,83},{52,75}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{52,75}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1179,79},{56,71}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{56,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-71.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1692,77},{54,69}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,16},{54,69}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-72.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1836,77},{50,71}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{50,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-73.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{68,73}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{68,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-74.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1398,79},{54,73}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{54,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-75.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1682,2},{60,73}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{60,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-76.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1104,79},{56,73}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{56,73}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>bgj-run-77.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1619,77},{54,71}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{54,71}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bgj-run.png</string>
            <key>size</key>
            <string>{2045,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784bc1a2f41dcb2967a06cf9559a37d4:0d092ebc5d09716de8c57ce752bd2d5d:fae9e797a3809915cae910bbfdb5613a$</string>
            <key>textureFileName</key>
            <string>bgj-run.png</string>
        </dict>
    </dict>
</plist>
