<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect-hit-000.tga</key>
            <dict>
                <key>frame</key>
                <string>{{174,241},{79,76}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,66},{79,76}}</string>
                <key>sourceSize</key>
                <string>{187,198}</string>
            </dict>
            <key>effect-hit-001.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,190}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,190}}</string>
                <key>sourceSize</key>
                <string>{187,198}</string>
            </dict>
            <key>effect-hit-002.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{153,170}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,28},{153,170}}</string>
                <key>sourceSize</key>
                <string>{187,198}</string>
            </dict>
            <key>effect-hit-003.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{165,164}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{165,164}}</string>
                <key>sourceSize</key>
                <string>{187,198}</string>
            </dict>
            <key>effect-hit-004.tga</key>
            <dict>
                <key>frame</key>
                <string>{{169,346},{1,1}}</string>
                <key>offset</key>
                <string>{-81,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{163,239}</string>
            </dict>
            <key>effect-skill1-00.tga</key>
            <dict>
                <key>frame</key>
                <string>{{181,993},{34,35}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,22},{34,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-01.tga</key>
            <dict>
                <key>frame</key>
                <string>{{143,993},{36,43}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,14},{36,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-02.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{38,45}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{38,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-03.tga</key>
            <dict>
                <key>frame</key>
                <string>{{42,993},{32,45}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,12},{32,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-04.tga</key>
            <dict>
                <key>frame</key>
                <string>{{207,1040},{34,47}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{34,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-05.tga</key>
            <dict>
                <key>frame</key>
                <string>{{171,951},{40,51}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,6},{40,51}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-06.tga</key>
            <dict>
                <key>frame</key>
                <string>{{212,701},{42,53}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{42,53}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-07.tga</key>
            <dict>
                <key>frame</key>
                <string>{{216,642},{38,57}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{38,57}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{224,992},{46,29}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,26},{46,29}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{50,37}}</string>
                <key>offset</key>
                <string>{10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,19},{50,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{60,897},{54,39}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,17},{54,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{58,37}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,18},{58,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{194,45},{60,39}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,17},{60,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{67,815},{62,43}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{62,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{66,43}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,12},{66,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-17.tga</key>
            <dict>
                <key>frame</key>
                <string>{{168,550},{70,51}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,5},{70,51}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-20.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{56,31}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,35},{56,31}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-21.tga</key>
            <dict>
                <key>frame</key>
                <string>{{138,728},{66,33}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{66,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-22.tga</key>
            <dict>
                <key>frame</key>
                <string>{{74,606},{70,35}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{70,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-23.tga</key>
            <dict>
                <key>frame</key>
                <string>{{164,603},{70,37}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{70,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-24.tga</key>
            <dict>
                <key>frame</key>
                <string>{{92,512},{74,43}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{74,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-25.tga</key>
            <dict>
                <key>frame</key>
                <string>{{169,421},{84,43}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,29},{84,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-26.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{88,45}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{88,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-27.tga</key>
            <dict>
                <key>frame</key>
                <string>{{169,466},{84,41}}</string>
                <key>offset</key>
                <string>{21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{84,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{106,993},{44,35}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,42},{44,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-31.tga</key>
            <dict>
                <key>frame</key>
                <string>{{180,916},{54,33}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{54,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-32.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{54,35}}</string>
                <key>offset</key>
                <string>{13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{54,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-33.tga</key>
            <dict>
                <key>frame</key>
                <string>{{195,832},{58,35}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{58,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-34.tga</key>
            <dict>
                <key>frame</key>
                <string>{{189,869},{54,45}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{54,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-35.tga</key>
            <dict>
                <key>frame</key>
                <string>{{146,642},{68,47}}</string>
                <key>offset</key>
                <string>{19,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,42},{68,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-36.tga</key>
            <dict>
                <key>frame</key>
                <string>{{70,727},{66,43}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,42},{66,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-37.tga</key>
            <dict>
                <key>frame</key>
                <string>{{92,557},{70,47}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,40},{70,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-40.tga</key>
            <dict>
                <key>frame</key>
                <string>{{224,951},{30,39}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,40},{30,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-41.tga</key>
            <dict>
                <key>frame</key>
                <string>{{76,993},{28,45}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,38},{28,45}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-42.tga</key>
            <dict>
                <key>frame</key>
                <string>{{158,1040},{36,47}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{36,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-43.tga</key>
            <dict>
                <key>frame</key>
                <string>{{107,1039},{38,49}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{38,49}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-44.tga</key>
            <dict>
                <key>frame</key>
                <string>{{54,1040},{36,51}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,39},{36,51}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-45.tga</key>
            <dict>
                <key>frame</key>
                <string>{{116,927},{38,53}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{38,53}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-46.tga</key>
            <dict>
                <key>frame</key>
                <string>{{194,86},{40,59}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,39},{40,59}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-47.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{36,63}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{36,63}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{206,756},{48,33}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{48,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-51.tga</key>
            <dict>
                <key>frame</key>
                <string>{{204,791},{50,39}}</string>
                <key>offset</key>
                <string>{-14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,42},{50,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-52.tga</key>
            <dict>
                <key>frame</key>
                <string>{{124,884},{54,41}}</string>
                <key>offset</key>
                <string>{-16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{54,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-53.tga</key>
            <dict>
                <key>frame</key>
                <string>{{131,847},{56,35}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,42},{56,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-54.tga</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,41}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{60,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-55.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{62,43}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,42},{62,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-56.tga</key>
            <dict>
                <key>frame</key>
                <string>{{138,763},{64,53}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{64,53}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-57.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{68,55}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,42},{68,55}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-60.tga</key>
            <dict>
                <key>frame</key>
                <string>{{131,818},{62,27}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{62,27}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-61.tga</key>
            <dict>
                <key>frame</key>
                <string>{{142,691},{68,35}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{68,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-62.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,755},{66,39}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{66,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-63.tga</key>
            <dict>
                <key>frame</key>
                <string>{{72,692},{68,33}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{68,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-64.tga</key>
            <dict>
                <key>frame</key>
                <string>{{174,206},{80,33}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,34},{80,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-65.tga</key>
            <dict>
                <key>frame</key>
                <string>{{169,509},{84,39}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{84,39}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-66.tga</key>
            <dict>
                <key>frame</key>
                <string>{{174,319},{78,49}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,27},{78,49}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-67.tga</key>
            <dict>
                <key>frame</key>
                <string>{{169,370},{84,49}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{84,49}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{52,33}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{52,33}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-71.tga</key>
            <dict>
                <key>frame</key>
                <string>{{66,860},{56,35}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{56,35}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-72.tga</key>
            <dict>
                <key>frame</key>
                <string>{{194,167},{58,37}}</string>
                <key>offset</key>
                <string>{-18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{58,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-73.tga</key>
            <dict>
                <key>frame</key>
                <string>{{58,938},{52,37}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{52,37}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-74.tga</key>
            <dict>
                <key>frame</key>
                <string>{{70,772},{64,41}}</string>
                <key>offset</key>
                <string>{-21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{64,41}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-75.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{68,43}}</string>
                <key>offset</key>
                <string>{-24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{68,43}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-76.tga</key>
            <dict>
                <key>frame</key>
                <string>{{72,643},{68,47}}</string>
                <key>offset</key>
                <string>{-24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{68,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
            <key>effect-skill1-77.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{70,47}}</string>
                <key>offset</key>
                <string>{-25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{70,47}}</string>
                <key>sourceSize</key>
                <string>{136,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{256,1079}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e4f2b901d289ef2925af7096be32f5c:011b0e373826c4d191b463d170d7828e:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
