<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-17.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-18.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>20001-19.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2000.png</string>
            <key>size</key>
            <string>{38,722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f56e4ac7af6c0382978f0ac570487ad:14cff98eff394f13e466961debeb5a96:f427954b9c8cf5f2065fae0e582aac5c$</string>
            <key>textureFileName</key>
            <string>2000.png</string>
        </dict>
    </dict>
</plist>
