<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20011-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-17.tga</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-18.tga</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
            <key>20011-19.tga</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{64,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,93}}</string>
                <key>sourceSize</key>
                <string>{64,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2001.png</string>
            <key>size</key>
            <string>{662,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1571a8a7d8cc64565e20348485a7b7:fdb70321fe651fb21c46736eff339ab5:41730c0fda13d0c4fef905e748270c15$</string>
            <key>textureFileName</key>
            <string>2001.png</string>
        </dict>
    </dict>
</plist>
