<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20021-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
            <key>20021-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
            <key>20021-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
            <key>20021-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
            <key>20021-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{74,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,116}}</string>
                <key>sourceSize</key>
                <string>{74,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2002.png</string>
            <key>size</key>
            <string>{382,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fbb7ede9482f2820645b7e751059131:b52d99472ae4239cba564877d0c6e3a9:2c6b3a5de4e8c6cd97cc9c8d7cfb1e07$</string>
            <key>textureFileName</key>
            <string>2002.png</string>
        </dict>
    </dict>
</plist>
