<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30051-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>30051-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>30051-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>30051-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{76,90}</string>
            </dict>
            <key>30052-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{186,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{462,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{278,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{370,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{94,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-17.tga</key>
            <dict>
                <key>frame</key>
                <string>{{554,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1106,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-31.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1014,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-32.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1198,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-33.tga</key>
            <dict>
                <key>frame</key>
                <string>{{922,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-34.tga</key>
            <dict>
                <key>frame</key>
                <string>{{738,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-35.tga</key>
            <dict>
                <key>frame</key>
                <string>{{646,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-36.tga</key>
            <dict>
                <key>frame</key>
                <string>{{830,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-37.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1750,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1382,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-51.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1658,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-52.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1474,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-53.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1566,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-54.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1842,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-55.tga</key>
            <dict>
                <key>frame</key>
                <string>{{94,218},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-56.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-57.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1290,110},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-71.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-72.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-73.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1650,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-74.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-75.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-76.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30052-77.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1742,2},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>30053-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{219,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{653,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1304,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{870,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1087,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{436,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-17.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1655,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{136,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-31.tga</key>
            <dict>
                <key>frame</key>
                <string>{{353,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-32.tga</key>
            <dict>
                <key>frame</key>
                <string>{{787,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-33.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1438,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-34.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1004,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-35.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1221,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-36.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1521,662},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-37.tga</key>
            <dict>
                <key>frame</key>
                <string>{{436,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-51.tga</key>
            <dict>
                <key>frame</key>
                <string>{{219,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-52.tga</key>
            <dict>
                <key>frame</key>
                <string>{{653,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-53.tga</key>
            <dict>
                <key>frame</key>
                <string>{{870,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-54.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-55.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1521,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-56.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1087,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-57.tga</key>
            <dict>
                <key>frame</key>
                <string>{{436,1078},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1521,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-71.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-72.tga</key>
            <dict>
                <key>frame</key>
                <string>{{219,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-73.tga</key>
            <dict>
                <key>frame</key>
                <string>{{653,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-74.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1304,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-75.tga</key>
            <dict>
                <key>frame</key>
                <string>{{870,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-76.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1087,870},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30053-77.tga</key>
            <dict>
                <key>frame</key>
                <string>{{570,454},{215,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,206}}</string>
                <key>sourceSize</key>
                <string>{215,206}</string>
            </dict>
            <key>30054-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-31.tga</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-51.tga</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30054-71.tga</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,98}</string>
            </dict>
            <key>30055-10.tga</key>
            <dict>
                <key>frame</key>
                <string>{{722,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-11.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1258,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-12.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1124,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-13.tga</key>
            <dict>
                <key>frame</key>
                <string>{{856,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-14.tga</key>
            <dict>
                <key>frame</key>
                <string>{{588,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-15.tga</key>
            <dict>
                <key>frame</key>
                <string>{{186,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-16.tga</key>
            <dict>
                <key>frame</key>
                <string>{{320,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-30.tga</key>
            <dict>
                <key>frame</key>
                <string>{{454,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-31.tga</key>
            <dict>
                <key>frame</key>
                <string>{{990,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-32.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1392,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-33.tga</key>
            <dict>
                <key>frame</key>
                <string>{{806,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-34.tga</key>
            <dict>
                <key>frame</key>
                <string>{{940,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-35.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1208,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-36.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1342,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-50.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1610,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-51.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1744,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-52.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1476,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-53.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1074,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-54.tga</key>
            <dict>
                <key>frame</key>
                <string>{{672,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-55.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1526,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-56.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1660,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-70.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-71.tga</key>
            <dict>
                <key>frame</key>
                <string>{{136,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-72.tga</key>
            <dict>
                <key>frame</key>
                <string>{{404,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-73.tga</key>
            <dict>
                <key>frame</key>
                <string>{{538,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-74.tga</key>
            <dict>
                <key>frame</key>
                <string>{{270,336},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-75.tga</key>
            <dict>
                <key>frame</key>
                <string>{{1794,218},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
            <key>30055-76.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{132,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,116}}</string>
                <key>sourceSize</key>
                <string>{132,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3005.png</string>
            <key>size</key>
            <string>{1934,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1aa7ec546279cdd88a2135fd47d48ad:4bb653399a07fc29a7ba7cab1fac60e9:a3b779bc791ac3dd28a57b50259aebea$</string>
            <key>textureFileName</key>
            <string>3005.png</string>
        </dict>
    </dict>
</plist>
